<!DOCTYPE html>
<html>
  
  <head>
      <title class="text-center">i4 Maintenance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
  </head>
  <body>
    {% include 'bootstrap.html' %}
    <div class="container">
      <div class="row">
      <div class="col-5">
        <img style="float: left; margin: 0px 15px 15px 0px;" src="static/image3.avif" class="img-fluid" /> 
      </div>
      <div class="col-7">
        <div class="shadow-lg p-3 mt-5 bg-white rounded">
        <h2 class="text-center mt-4 mt-2 mx-auto">Predictive Maintenance for Metal Additive Machines</h2>
    
    <p class="lead">
    <em>
      Saving you Time and Money through Digital Maintenance of Components
      </em>
</p>
<div class="text-center">
<a href="https://replit.com/@NirvindhaBalu/second-repository#templates/signin.html" class="btn btn-lg btn-primary" role="button">Sign In</a>
      </div>
      </div>
      </div>
    </div>
    </div>
    <p class="text-center mt-5 mb-3 text-muted ">&copy; 2023.i4 Maintanence.All rights reserved</p> 
  </body>

</html>
